{% extends "principal.html" %}

{% block cabecera %}
Mostar tarea
{% endblock cabecera %}

{% block contenido %}
        <p><a href="{% url 'index' %}">Volver al inicio</a> </p>
        <h1>LISTA DE TAREAS ORDENADAS DESCENDENTEMENTE <h1>

            {% for tarea in mostrar_tarea %}
                <h2>Nombre: {{ tarea.nombre }}</h2>
                <h3>Fecha Creacion: {{ tarea.fechaCreacion }}</h3>
            --------------------------------------------------------------------
            {% endfor %}
{% endblock contenido %}

