
    <nav>
        <ul>
            <li><h3><a href="{% url 'mostar_proyectos' %}">Ejercicio 2</a> </h3></li>
            <li><h3><a href="{% url 'mostar_tareas_ordenado' %}">Ejercicio 3</a> </h3></li>
            <li><h3><a href="{% url 'usuario_asociado_tarea' 1 %}">Ejercicio 4</a> </h3></li>
            <li><h3><a href="{% url 'tarea_contenga_observacion' 'tree' %}">Ejercicio 5</a> </h3></li>
            <li><h3><a href="{% url 'proyecto_entre_fechas'  1456 2013 %}">Ejercicio 6</a></h3></li>
            <li><h3><a href="{% url 'ultimo_usuario_comentado_tarea' 1 %}">Ejercicio 7</a> </h3></li>
            <li><h3><a href="{% url 'comentario_tarea_año' 1 'si' 2023 %}">Ejercicio 8</a> </h3></li>
            <li><h3><a href="{% url 'lista_etiquetas' %}">Ejercicio 9</a> </h3></li>
        </ul>
    </nav>



        

        

       