{% extends "principal.html" %}

{% block cabecera %}
Mostar usuario
{% endblock cabecera %}


{% block contenido %}
        <p><a href="{% url 'index' %}">Volver al inicio</a> </p>
        <h1>USUARIOS ASIGNADOS A UNA TAREA ORDENADOS POR FECHA DE ASIGNACION <h1>

            {% for usuario in usuario_asociado_tarea %}
                <h2>Nombre: {{ usuario.nombre }}</h2>
            ------------------------------------------------------------------
            {% endfor %}
{% endblock contenido %}

