{% extends "principal.html" %}

{% block cabecera %}
Mostrar proyectos
{% endblock cabecera %}


{% block contenido %}


        <h1>LISTA DE PROYECTOS <h1>
            

            +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

        {% for proyecto in mostrar_proyectos %}
            <h2>Nombre: {{ proyecto.nombre }}</h2>
            <p>descripcion: {{ proyecto.descripcion }}</p>
            <p>duracion: {{ proyecto.duracion }}</p>
            <p>fechaInicio: {{ proyecto.fechaInicio }}</p>
            <p>fechaFin: {{ proyecto.fechaFin }}</p>
            <p>creador: {{ proyecto.creador.nombre }}</p>

            <h4> + + Proyecto asignado a:</h4> 
            {% for usuario in proyecto.usuario.all %}
                <p>  -  {{ usuario.nombre }}</p>
            
            {% endfor %}

            -------------------------------------------------------

        {% endfor %}
        <br>
        <br>
        
{% endblock contenido %}