{% extends "principal.html" %}

{% block cabecera %}
Mostar un proyecto
{% endblock cabecera %}

{% block contenido %}
        <h1>PROYECTO<h1>
            
            <h2>Nombre: {{ mostrar_proyectos.nombre }}</h2>
            <p>descripcion: {{ mostrar_proyectos.descripcion }}</p>
            <p>duracion: {{ mostrar_proyectos.duracion }}</p>
            <p>fechaInicio: {{ mostrar_proyectos.fechaInicio }}</p>
            <p>fechaFin: {{ mostrar_proyectos.fechaFin }}</p>
            <p>creador: {{ mostrar_proyectos.creador.nombre }}</p>
            <p>tareas_proyecto: {{ mostrar_proyectos.tareas_proyecto.nombre }}</p>


            {% for usuario in mostrar_proyectos.usuario.all %}
                <h4> + + Proyecto_asignado a: {{ usuario.nombre }}</h4>
            
            {% endfor %}

            -------------------------------------------------------

        <br>
        <br>
{% endblock contenido %}

        